<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
      <div id="header">
        <nav>
          <ul>
            <li class="site-title"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></li>
            <li><a href="{{ '/categories/technology' | relative_url }}">Technology</a></li>
            <li><a href="{{ '/categories/programming' | relative_url }}">Programming</a></li>
            <li><a href="{{ '/categories/ai' | relative_url }}">AI</a></li>
            <li><a href="{{ '/categories/tools' | relative_url }}">Tools</a></li>
            <li><a href="{{ '/about' | relative_url }}">About</a></li>
          </ul>
        </nav>
      </div><!-- end header -->

    <div class="page-container">
      <!-- Left sidebar for banner ads -->
      <div class="banner-left">
        <div class="ad-container">
          <!-- Banner Ad Space -->
          <div class="banner-ad">Ad Space</div>
        </div>
      </div>
      
      <div class="wrapper">
        <section>
          <div id="title">
            <h1>{{ page.title | default: site.title }}</h1>
            {% if page.description %}
              <p>{{ page.description }}</p>
            {% elsif site.description %}  
              <p>{{ site.description }}</p>
            {% endif %}
            <hr>
          </div>

          {{ content }}

        </section>
      </div>
      
      <!-- Right sidebar for banner ads -->
      <div class="banner-right">
        <div class="ad-container">
          <!-- Banner Ad Space -->
          <div class="banner-ad">Ad Space</div>
        </div>
      </div>
    </div>

    <footer>
      <div class="wrapper">
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
